/* ==============================
   HERO
============================== */

.evento-banner{

    position:relative;

    width:100%;

    overflow:hidden;

}


.evento-banner-img{

    display:block;

    width:100%;

    height:auto;

}

/* ==============================
   BOTÃO INVISÍVEL
============================== */

.evento-banner-btn{

    position:absolute;

    /* posição */
    left:50%;
    top:37.2%;

    /* tamanho */
    width:29%;
    height:7.3%;

    transform:translate(-50%, -50%);

    background:transparent;

    cursor:pointer;

    z-index:100;
}

.evento-banner-btn{
    position:absolute;
    transform:translate(-50%,-50%);
    background:transparent;
    z-index:100;
}

/* 15 anos */
.banner-15anos{
    left:50%;
    top:37.2%;
    width:29%;
    height:7.3%;
}

/* casamento *
.banner-casamento{
    left:...;
    top:...;
    width:...;
    height:...;
}